In [1]:
import pandas as pd
import numpy as np

def missing_check(df):
    for col in df.columns:
        print(col, (df[col]==66666).sum(), (df[col]==77777).sum(), (df[col]==99999).sum(), (df[col].isnull().sum()))

In [123]:
import impyute as impy
def impute(df, seed=1109):
    np.random.seed(seed)
    imputated_cols = []
    for col in df.columns:
        if df[col].isnull().sum() > 0:
            print(f"{col} is preprocessing...")
            imputated_cols.append(col)
            df.loc[:, col] = impy.em(df[[col]].values, loops=1000)
            # df[col] = df[col].round()
            print(f"{col} processing done!!!")
            print("=" * 30)
            
    return df, imputated_cols

In [124]:
tight3 = pd.read_csv("/home/user19/pnu_ckd/hexa_preprocessing_after95/dl_models/data/tight.csv")

In [125]:
tight3.columns

Index(['RID', 'CT1_SEX', 'CT1_AGE', 'CT1_eGFR', 'CT1_SBP', 'CT1_BMI', 'CT1_HB',
       'CT1_ALBUMIN', 'CT1_TCHL', 'CT1_DRINK', 'CT1_SMOKE', 'CT1_gohyeol',
       'CT1_dangnyo', 'CT1_simhyeol', 'onset', 'Rice', 'Other grains',
       'Noodles and dumplings', 'Wheat flour and bread', 'Potatoes', 'Sweets',
       'Soybean pastes', 'Bean, tofu, and soymilk', 'Nuts', 'Vegetables',
       'Kimchi', 'Mushroom', 'Fruits', 'Red meat and its products',
       'White meat and its products', 'Eggs', 'Fish and shellfish', 'Seaweeds',
       'Milk and dairy products', 'Beverage', 'Coffee and tea'],
      dtype='object')

In [126]:
tight3

,RID,CT1_SEX,CT1_AGE,CT1_eGFR,CT1_SBP,CT1_BMI,CT1_HB,CT1_ALBUMIN,CT1_TCHL,CT1_DRINK,...,Mushroom,Fruits,Red meat and its products,White meat and its products,Eggs,Fish and shellfish,Seaweeds,Milk and dairy products,Beverage,Coffee and tea
0,EPI22_027_142944,2,43,110.752209,119.0,24.06,13.1,4.6,203,0,...,12.857143,852.500000,12.500000,2.500000,10.714286,73.142857,7.000000,208.285714,32.142857,0.578571
1,EPI22_027_030739,2,47,90.823548,110.0,21.45,13.2,4.4,176,1,...,5.000000,426.250000,26.666667,6.250000,10.714286,62.571429,1.500000,326.000000,12.500000,4.050000
2,EPI22_027_175154,2,45,79.883404,108.0,19.55,11.8,4.0,163,0,...,6.428571,41.964286,67.559524,0.000000,10.714286,61.869048,3.500000,73.000000,225.000000,184.050000
3,EPI22_027_047976,2,52,87.075094,124.5,20.85,13.0,4.8,204,1,...,12.857143,173.541667,28.333333,6.250000,10.714286,63.595238,0.583333,204.666667,0.000000,4.050000
4,EPI22_027_204760,2,50,111.591565,109.0,24.41,12.1,4.3,193,0,...,11.142857,132.500000,23.333333,9.375000,10.714286,49.285714,0.500000,6.000000,48.809524,4.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57226,EPI22_027_193555,2,42,102.025210,147.0,22.26,15.6,4.7,212,0,...,1.750000,295.000000,82.619048,16.071429,5.357143,29.238095,0.750000,74.928571,29.166667,14.050000
57227,EPI22_027_031104,1,50,103.538357,125.0,24.97,15.1,4.8,179,0,...,2.500000,426.250000,25.500000,0.000000,10.714286,21.023810,0.845238,137.714286,75.000000,8.100000
57228,EPI22_027_048836,2,41,108.834177,110.0,20.69,14.6,4.3,175,1,...,12.857143,213.125000,108.452381,6.250000,10.714286,36.535714,2.666667,196.000000,6.666667,4.050000
57229,EPI22_027_123427,2,66,90.573649,126.0,22.93,11.9,5.0,190,0,...,21.428571,134.047619,8.750000,3.125000,5.357143,21.994048,2.750000,68.571429,0.000000,16.200000
57230,EPI22_027_022952,2,65,78.919338,130.0,23.61,13.0,4.3,202,0,...,0.000000,49.208333,40.000000,8.035714,1.666667,14.309524,0.483333,0.000000,0.000000,0.000000

In [127]:
tight3.columns

Index(['RID', 'CT1_SEX', 'CT1_AGE', 'CT1_eGFR', 'CT1_SBP', 'CT1_BMI', 'CT1_HB',
       'CT1_ALBUMIN', 'CT1_TCHL', 'CT1_DRINK', 'CT1_SMOKE', 'CT1_gohyeol',
       'CT1_dangnyo', 'CT1_simhyeol', 'onset', 'Rice', 'Other grains',
       'Noodles and dumplings', 'Wheat flour and bread', 'Potatoes', 'Sweets',
       'Soybean pastes', 'Bean, tofu, and soymilk', 'Nuts', 'Vegetables',
       'Kimchi', 'Mushroom', 'Fruits', 'Red meat and its products',
       'White meat and its products', 'Eggs', 'Fish and shellfish', 'Seaweeds',
       'Milk and dairy products', 'Beverage', 'Coffee and tea'],
      dtype='object')

# basic feature raw data 가져와서 RID 확인 및 그룹핑
- drink, smoke, edu, income 제외.

In [128]:
temp_basic = pd.read_csv("/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_01_examinee.csv")

In [129]:
temp_basic = temp_basic[temp_basic['RID'].isin(tight3['RID'])]
temp_basic = temp_basic[['RID', 'CT1_SEX', 'CT1_AGE']]

In [130]:
# Sex, Age 는 missing 없음.
missing_check(temp_basic)
temp_basic.replace(66666, 99999, inplace=True)
missing_check(temp_basic)

RID 0 0 0 0
CT1_SEX 0 0 0 0
CT1_AGE 0 0 0 0
RID 0 0 0 0
CT1_SEX 0 0 0 0
CT1_AGE 0 0 0 0

### 신체 계측 정보 전처리

- anthropometry, biochem

In [131]:
temp_body = pd.read_csv(f"/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_14_anthropometry.csv")

In [132]:
temp_body = temp_body[temp_body['RID'].isin(tight3['RID'])]
temp_body = temp_body[['RID', 'CT1_SBP', 'CT1_DBP', 'CT1_WAIST', 'CT1_BMI']]

In [133]:
# missing_check(temp_body)
# temp_body.replace(99999, np.nan, inplace=True)
# temp_body, _ = impute(temp_body)
# missing_check(temp_body)

- biochem

In [134]:
temp_biochem = pd.read_csv(f"/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_15_biochem.csv")

In [135]:
temp_biochem = temp_biochem[temp_biochem['RID'].isin(tight3['RID'])]
temp_biochem = temp_biochem[['RID', 'CT1_HB', 'CT1_ALBUMIN', 'CT1_TCHL', "CT1_HDL", "CT1_TG", "CT1_HBA1C", 'CT1_GLU0']]

In [136]:
# missing_check(temp_biochem)
# temp_biochem[['CT1_ALBUMIN', 'CT1_GLU0']] = temp_biochem[['CT1_ALBUMIN', 'CT1_GLU0']].replace(99999, np.nan)
# missing_check(temp_biochem)

In [137]:
# missing_check(temp_biochem)
# temp_biochem, _ = impute(temp_biochem)
# missing_check(temp_biochem)

### 고혈압
- missing 인 column은 모두 고혈압이 없는 것이라고 생각.

In [138]:
disease = pd.read_csv(f"/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_02_disease.csv")

In [139]:
disease.columns

Index(['RID', 'CT1_HTN', 'CT1_HTNAG', 'CT1_HTNCU', 'CT1_HTNCU1', 'CT1_HTNCUTY',
       'CT1_HTNCUTRPM', 'CT1_HTNCUTRDI', 'CT1_HTNCUTREX', 'CT1_BP_MEDI',
       ...
       'CT1_FRAC2AG', 'CT1_FRAC2CU', 'CT1_FRAC2CA', 'CT1_FRAC2SP',
       'CT1_FRAC2_CG1', 'CT1_FRAC2_LR1', 'CT1_FRAC2_CG2', 'CT1_FRAC2_LR2',
       'CT1_FRAC2_CG3', 'CT1_FRAC2_LR3'],
      dtype='object', length=165)

In [140]:
gohyeol = disease[disease['RID'].isin(tight3['RID'])][['RID', 'CT1_HTN', "CT1_HTNCU", "CT1_HTNCU1", "CT1_BP_MEDI"]]
gohyeol = pd.merge(gohyeol, temp_body[['RID', 'CT1_SBP', 'CT1_DBP']], on='RID', how='inner')

In [141]:
# missing_check(gohyeol)
# gohyeol.replace(66666, np.nan, inplace=True)
# gohyeol.replace(77777, np.nan, inplace=True)
# gohyeol.replace(99999, np.nan, inplace=True)
# missing_check(gohyeol)

In [142]:
gohyeol['CT1_HTN'].value_counts(), gohyeol['CT1_HTN'].value_counts().sum()

(CT1_HTN
 1        46328
 2        10852
 99999       51
 Name: count, dtype: int64,
 57231)

In [143]:
# missing은 0으로 간주하기 때문에 애초에 0으로 지정.
gohyeol['new_gohyeol'] = 0
gohyeol.loc[gohyeol['CT1_HTN'] == 2, 'new_gohyeol'] = 1
gohyeol.loc[gohyeol['CT1_HTN'] == 1, 'new_gohyeol'] = 0

In [144]:
gohyeol['new_gohyeol'].value_counts(), gohyeol['new_gohyeol'].value_counts().sum()

(new_gohyeol
 0    46379
 1    10852
 Name: count, dtype: int64,
 57231)

In [145]:
# missing인 샘플들 + 1인 샘플들
gohyeol.loc[(gohyeol['CT1_HTN'] != 2) & ((gohyeol['CT1_HTNCU'] == 2) | (gohyeol['CT1_HTNCU1'] == 2) | (gohyeol['CT1_BP_MEDI'] == 2) | 
                                         ((gohyeol['CT1_SBP'] >= 140) & (gohyeol['CT1_SBP'] < 66666)) | ((gohyeol['CT1_DBP'] >= 90) & (gohyeol['CT1_DBP'] < 66666))),'new_gohyeol'] = 1
gohyeol['new_gohyeol'].value_counts(), gohyeol['new_gohyeol'].value_counts().sum()

(new_gohyeol
 0    41328
 1    15903
 Name: count, dtype: int64,
 57231)

In [146]:
temp = gohyeol[['RID', 'new_gohyeol']]

In [147]:
temp = temp.rename(columns={"new_gohyeol" : "CT1_gohyeol"})
temp['CT1_gohyeol'].value_counts()

CT1_gohyeol
0    41328
1    15903
Name: count, dtype: int64

In [148]:
# temp.to_csv("/home/user19/pnu_ckd/hexa_preprocessing_after95/data/shared_data/gohyeol.csv", index=False)

In [149]:
final_data = pd.read_excel("/home/user19/pnu_ckd/hexa_preprocessing_after95/data/shared_data/0911_HEXA_HJ 변수명 재정리_R.xlsx", sheet_name=0)

In [150]:
final_data['CT1_gohyeol'].value_counts()

CT1_gohyeol
0    41256
1    15975
Name: count, dtype: int64

In [151]:
final_data.drop(['CT1_gohyeol'], axis=1, inplace=True)

In [152]:
final_data = pd.merge(final_data, temp, on='RID', how='inner')

In [153]:
final_data = final_data[['RID', 'CT1_SEX', 'CT1_AGE', 'CT1_eGFR', 'imp_CT1_SBP', 'imp_CT1_BMI',
       'CT1_HB', 'Imp_CT1_ALBUMIN', 'CT1_TCHL', 'imp_new_EDU',
       'imp_new_INCOME', 'imp_new_DRINK', 'imp_new_SMOKE', 'CT1_gohyeol',
       'CT1_dangnyo', 'CT1_simhyeol', 'onset', 'onset_tight', 'duration']]

In [154]:
final_data['CT1_gohyeol'].value_counts()

CT1_gohyeol
0    41328
1    15903
Name: count, dtype: int64

In [155]:
final_data.columns

Index(['RID', 'CT1_SEX', 'CT1_AGE', 'CT1_eGFR', 'imp_CT1_SBP', 'imp_CT1_BMI',
       'CT1_HB', 'Imp_CT1_ALBUMIN', 'CT1_TCHL', 'imp_new_EDU',
       'imp_new_INCOME', 'imp_new_DRINK', 'imp_new_SMOKE', 'CT1_gohyeol',
       'CT1_dangnyo', 'CT1_simhyeol', 'onset', 'onset_tight', 'duration'],
      dtype='object')

In [156]:
# final_data.to_csv("/home/user19/pnu_ckd/hexa_preprocessing_after95/data/shared_data/0911_HEXA_HJ 변수명 재정리_R_onlybasic_aftergohyeolcheck.csv", index=False)

### 당뇨

In [157]:
temp_biochem.columns

Index(['RID', 'CT1_HB', 'CT1_ALBUMIN', 'CT1_TCHL', 'CT1_HDL', 'CT1_TG',
       'CT1_HBA1C', 'CT1_GLU0'],
      dtype='object')

In [158]:
dangnyo = disease[disease['RID'].isin(tight3['RID'])][['RID', 'CT1_DM', "CT1_DMCU", "CT1_DMCU1", "CT1_DMCUTRPM", "CT1_DMCUTRIN"]]
dangnyo = pd.merge(dangnyo, temp_biochem[['RID', 'CT1_GLU0', 'CT1_HBA1C']], on='RID')

In [159]:
missing_check(dangnyo)
dangnyo.replace(66666, np.nan, inplace=True)
dangnyo.replace(77777, np.nan, inplace=True)
dangnyo.replace(99999, np.nan, inplace=True)
missing_check(dangnyo)

RID 0 0 0 0
CT1_DM 0 0 73 0
CT1_DMCU 1378 52257 101 0
CT1_DMCU1 55853 1322 5 0
CT1_DMCUTRPM 21598 33558 30 0
CT1_DMCUTRIN 21598 33558 64 0
CT1_GLU0 0 0 10 0
CT1_HBA1C 21598 0 9752 0
RID 0 0 0 0
CT1_DM 0 0 0 73
CT1_DMCU 0 0 0 53736
CT1_DMCU1 0 0 0 57180
CT1_DMCUTRPM 0 0 0 55186
CT1_DMCUTRIN 0 0 0 55220
CT1_GLU0 0 0 0 10
CT1_HBA1C 0 0 0 31350

In [160]:
dangnyo['CT1_DM'].value_counts(), dangnyo['CT1_DM'].value_counts().sum()

(CT1_DM
 1.0    53579
 2.0     3579
 Name: count, dtype: int64,
 57158)

In [161]:
# missing이면 0이라서 애초에 0으로 지정
dangnyo['new_dangnyo'] = 0
dangnyo.loc[dangnyo['CT1_DM'] == 2, 'new_dangnyo'] = 1
dangnyo.loc[dangnyo['CT1_DM'] == 1, 'new_dangnyo'] = 0

In [162]:
dangnyo['new_dangnyo'].value_counts(), dangnyo['new_dangnyo'].value_counts().sum()

(new_dangnyo
 0    53652
 1     3579
 Name: count, dtype: int64,
 57231)

In [163]:
# missing인 샘플들 + 1인 샘플들
dangnyo.loc[(dangnyo['CT1_DM'] != 2) & ((dangnyo['CT1_DMCU'] == 2) | (dangnyo['CT1_DMCU1'] == 2) | (dangnyo['CT1_DMCUTRPM'] == 2) | 
                                         (dangnyo['CT1_DMCUTRIN'] ==2) | (dangnyo['CT1_GLU0'] >= 126 ) | ((6.5 <= dangnyo['CT1_HBA1C']) & (dangnyo['CT1_HBA1C'] < 66666))),'new_dangnyo'] = 1
dangnyo['new_dangnyo'].value_counts(), dangnyo['new_dangnyo'].value_counts().sum()

(new_dangnyo
 0    52165
 1     5066
 Name: count, dtype: int64,
 57231)

### 심혈관 질환

In [164]:
simhyeol = disease[disease['RID'].isin(tight3['RID'])][['RID', "CT1_CVA", "CT1_TIA", "CT1_MI", "CT1_CVACU", "CT1_CVACU1", "CT1_TIACU", "CT1_TIACU1", "CT1_MICU", "CT1_MICU1"]]

In [165]:
missing_check(simhyeol)
simhyeol.replace(66666, np.nan, inplace=True)
simhyeol.replace(77777, np.nan, inplace=True)
simhyeol.replace(99999, np.nan, inplace=True)
missing_check(simhyeol)

RID 0 0 0 0
CT1_CVA 0 0 56 0
CT1_TIA 45434 0 25 0
CT1_MI 0 0 67 0
CT1_CVACU 5478 51157 63 0
CT1_CVACU1 55853 1367 3 0
CT1_TIACU 46812 10368 29 0
CT1_TIACU1 55853 1373 2 0
CT1_MICU 5478 50252 83 0
CT1_MICU1 55853 1347 6 0
RID 0 0 0 0
CT1_CVA 0 0 0 56
CT1_TIA 0 0 0 45459
CT1_MI 0 0 0 67
CT1_CVACU 0 0 0 56698
CT1_CVACU1 0 0 0 57223
CT1_TIACU 0 0 0 57209
CT1_TIACU1 0 0 0 57228
CT1_MICU 0 0 0 55813
CT1_MICU1 0 0 0 57206

In [166]:
simhyeol['new_simhyeol'] = (simhyeol == 2).any(axis=1).astype(int)
simhyeol['new_simhyeol'].value_counts()

new_simhyeol
0    55106
1     2125
Name: count, dtype: int64

In [167]:
temp_basic = pd.merge(temp_basic, temp_body[['RID', 'CT1_SBP', 'CT1_BMI']], on='RID', how='inner')
temp_basic = pd.merge(temp_basic, temp_biochem[['RID', 'CT1_HB', 'CT1_ALBUMIN', 'CT1_TCHL']], on='RID', how='inner')
temp_basic = pd.merge(temp_basic, tight3[['RID', 'CT1_eGFR']], on='RID', how='inner')

In [168]:
temp_basic

,RID,CT1_SEX,CT1_AGE,CT1_SBP,CT1_BMI,CT1_HB,CT1_ALBUMIN,CT1_TCHL,CT1_eGFR
0,EPI22_027_142944,2,43,119.0,24.06,13.1,4.6,203,110.752209
1,EPI22_027_030739,2,47,110.0,21.45,13.2,4.4,176,90.823548
2,EPI22_027_175154,2,45,108.0,19.55,11.8,4.0,163,79.883404
3,EPI22_027_047976,2,52,124.5,20.85,13.0,4.8,204,87.075094
4,EPI22_027_204760,2,50,109.0,24.41,12.1,4.3,193,111.591565
...,...,...,...,...,...,...,...,...,...
57226,EPI22_027_193555,2,42,147.0,22.26,15.6,4.7,212,102.025210
57227,EPI22_027_031104,1,50,125.0,24.97,15.1,4.8,179,103.538357
57228,EPI22_027_048836,2,41,110.0,20.69,14.6,4.3,175,108.834177
57229,EPI22_027_123427,2,66,126.0,22.93,11.9,5.0,190,90.573649
57230,EPI22_027_022952,2,65,130.0,23.61,13.0,4.3,202,78.919338

In [169]:
temp_basic = pd.merge(temp_basic, gohyeol[['RID', 'new_gohyeol']], on='RID', how='inner')
temp_basic = pd.merge(temp_basic, dangnyo[['RID', 'new_dangnyo']], on='RID', how='inner')
temp_basic = pd.merge(temp_basic, simhyeol[['RID', 'new_simhyeol']], on='RID', how='inner')

In [170]:
temp_basic

,RID,CT1_SEX,CT1_AGE,CT1_SBP,CT1_BMI,CT1_HB,CT1_ALBUMIN,CT1_TCHL,CT1_eGFR,new_gohyeol,new_dangnyo,new_simhyeol
0,EPI22_027_142944,2,43,119.0,24.06,13.1,4.6,203,110.752209,0,0,0
1,EPI22_027_030739,2,47,110.0,21.45,13.2,4.4,176,90.823548,0,0,0
2,EPI22_027_175154,2,45,108.0,19.55,11.8,4.0,163,79.883404,0,0,0
3,EPI22_027_047976,2,52,124.5,20.85,13.0,4.8,204,87.075094,0,0,0
4,EPI22_027_204760,2,50,109.0,24.41,12.1,4.3,193,111.591565,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
57226,EPI22_027_193555,2,42,147.0,22.26,15.6,4.7,212,102.025210,1,0,0
57227,EPI22_027_031104,1,50,125.0,24.97,15.1,4.8,179,103.538357,0,0,0
57228,EPI22_027_048836,2,41,110.0,20.69,14.6,4.3,175,108.834177,0,0,0
57229,EPI22_027_123427,2,66,126.0,22.93,11.9,5.0,190,90.573649,0,0,0
57230,EPI22_027_022952,2,65,130.0,23.61,13.0,4.3,202,78.919338,0,0,0

In [171]:
missing_check(temp_basic)

RID 0 0 0 0
CT1_SEX 0 0 0 0
CT1_AGE 0 0 0 0
CT1_SBP 0 0 82 0
CT1_BMI 0 0 18 0
CT1_HB 0 0 0 0
CT1_ALBUMIN 0 0 1 0
CT1_TCHL 0 0 0 0
CT1_eGFR 0 0 0 0
new_gohyeol 0 0 0 0
new_dangnyo 0 0 0 0
new_simhyeol 0 0 0 0

# basic feature (Drink, Smoke, Edu, Income) Raw data 가져와서 RID 확인 및 그룹핑

In [172]:
temp_eduincome = pd.read_csv("/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_07_gen.csv")
temp_drinksmoke = pd.read_csv("/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_08_habit1.csv")

/tmp/ipykernel_1917935/2366734780.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_eduincome = pd.read_csv("/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_07_gen.csv")
/tmp/ipykernel_1917935/2366734780.py:2: DtypeWarning: Columns (71) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_drinksmoke = pd.read_csv("/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_08_habit1.csv")

In [173]:
temp_eduincome = pd.merge(temp_eduincome[['RID', 'CT1_EDU', 'CT1_INCOME']], tight3[['RID']], on='RID', how='inner')
temp_drinksmoke = pd.merge(temp_drinksmoke[['RID', 'CT1_SMOKE', 'CT1_SMOKE_100', 'CT1_DRINK']], tight3[['RID']], on='RID', how='inner')

### Drink Smoke 전처리

In [174]:
missing_check(temp_drinksmoke)
temp_drinksmoke.replace(66666, 99999, inplace=True)
missing_check(temp_drinksmoke)

RID 0 0 0 0
CT1_SMOKE 35633 0 116 0
CT1_SMOKE_100 21598 0 115 0
CT1_DRINK 0 0 250 0
RID 0 0 0 0
CT1_SMOKE 0 0 35749 0
CT1_SMOKE_100 0 0 21713 0
CT1_DRINK 0 0 250 0

In [175]:
# Drink 원래 변수 : 1 = 예, 2 = 아니오(과거음주), 3 = 아니오(현재음주)
temp_drinksmoke['new_DRINK'] = temp_drinksmoke['CT1_DRINK'].apply(lambda x: 1 if x == 3 else (0 if 1 <= x <= 2  else 99999))
temp_drinksmoke.drop(['CT1_DRINK'], axis=1, inplace=True)

In [176]:
temp_drinksmoke['new_DRINK'].value_counts()

new_DRINK
0        31948
1        25033
99999      250
Name: count, dtype: int64

In [177]:
# Smooke

temp_drinksmoke.loc[temp_drinksmoke['CT1_SMOKE'] == 99999, 'CT1_SMOKE'] = -1
temp_drinksmoke.loc[temp_drinksmoke['CT1_SMOKE_100'] == 99999, 'CT1_SMOKE_100'] = -1

temp_drinksmoke['new_SMOKE'] = temp_drinksmoke.apply(lambda row: max(row['CT1_SMOKE'], row['CT1_SMOKE_100']) - 1, axis=1)

temp_drinksmoke['new_SMOKE'].value_counts()

new_SMOKE
 0    42263
 1     8858
 2     5879
-2      231
Name: count, dtype: int64

In [178]:
temp_drinksmoke.loc[temp_drinksmoke['new_SMOKE'] == -2, 'new_SMOKE'] = 99999

In [179]:
temp_drinksmoke['new_SMOKE'].value_counts()

new_SMOKE
0        42263
1         8858
2         5879
99999      231
Name: count, dtype: int64

In [180]:
temp_drinksmoke.drop(['CT1_SMOKE', 'CT1_SMOKE_100'], axis=1, inplace=True)

In [181]:
temp_drinksmoke.columns

Index(['RID', 'new_DRINK', 'new_SMOKE'], dtype='object')

### EDU Income 전처리

In [182]:
missing_check(temp_eduincome)
temp_eduincome.replace(66666, 99999, inplace=True)
missing_check(temp_eduincome)

RID 0 0 0 0
CT1_EDU 0 0 620 0
CT1_INCOME 1378 0 4356 0
RID 0 0 0 0
CT1_EDU 0 0 620 0
CT1_INCOME 0 0 5734 0

In [183]:
temp_eduincome.columns

Index(['RID', 'CT1_EDU', 'CT1_INCOME'], dtype='object')

In [184]:
# EDU 
temp_eduincome['new_EDU'] = temp_eduincome['CT1_EDU'].apply(lambda x: 1 if 0 <= x <= 3 else (2 if  x == 4  else (3 if 5 <= x <= 8 else 99999)))
temp_eduincome.drop(['CT1_EDU'], axis=1, inplace=True)

In [185]:
# Income
temp_eduincome['new_INCOME'] = temp_eduincome['CT1_INCOME'].apply(lambda x: 1 if 1 <= x <= 3 else (2 if 4 <= x <= 6  else (3 if 7 <= x <= 8 else 99999)))
temp_eduincome.drop(['CT1_INCOME'], axis=1, inplace=True)

In [186]:
temp_eduincome.columns

Index(['RID', 'new_EDU', 'new_INCOME'], dtype='object')

In [187]:
temp_eduincomedrinksmoke = pd.merge(temp_eduincome, temp_drinksmoke, on='RID', how='inner')

In [188]:
import numpy as np
missing_check(temp_eduincomedrinksmoke)
temp_eduincomedrinksmoke.replace(99999, np.NaN, inplace=True)
missing_check(temp_eduincomedrinksmoke)

RID 0 0 0 0
new_EDU 0 0 620 0
new_INCOME 0 0 5734 0
new_DRINK 0 0 250 0
new_SMOKE 0 0 231 0
RID 0 0 0 0
new_EDU 0 0 0 620
new_INCOME 0 0 0 5734
new_DRINK 0 0 0 250
new_SMOKE 0 0 0 231

### Edu, Income, Drink, Smoke imputation

In [189]:
temp_eduincomedrinksmoke['new_SMOKE'].value_counts()
temp_eduincomedrinksmoke['new_DRINK'].value_counts()
temp_eduincomedrinksmoke['new_EDU'].value_counts()
temp_eduincomedrinksmoke['new_INCOME'].value_counts()

new_INCOME
2.0    28444
3.0    13304
1.0     9749
Name: count, dtype: int64

In [190]:
temp_eduincomedrinksmoke, _ = impute(temp_eduincomedrinksmoke)

new_EDU is preprocessing...
new_EDU processing done!!!
==============================
new_INCOME is preprocessing...
new_INCOME processing done!!!
==============================
new_DRINK is preprocessing...
new_DRINK processing done!!!
==============================
new_SMOKE is preprocessing...
new_SMOKE processing done!!!
==============================

In [191]:
# Edu : 1~3
# Income : 1~3
# Drink : 0~1
# Smoke : 0~2
temp_eduincomedrinksmoke['new_INCOME'] = temp_eduincomedrinksmoke['new_INCOME'].clip(1, 3)
temp_eduincomedrinksmoke['new_EDU'] = temp_eduincomedrinksmoke['new_EDU'].clip(1, 3)
temp_eduincomedrinksmoke['new_DRINK'] = temp_eduincomedrinksmoke['new_DRINK'].clip(0, 1)
temp_eduincomedrinksmoke['new_SMOKE'] = temp_eduincomedrinksmoke['new_SMOKE'].clip(0, 2)

In [192]:
print(temp_eduincomedrinksmoke['new_SMOKE'].value_counts(), temp_eduincomedrinksmoke['new_SMOKE'].value_counts().sum())
print(temp_eduincomedrinksmoke['new_DRINK'].value_counts(), temp_eduincomedrinksmoke['new_DRINK'].value_counts().sum())
print(temp_eduincomedrinksmoke['new_EDU'].value_counts(), temp_eduincomedrinksmoke['new_EDU'].value_counts().sum())
print(temp_eduincomedrinksmoke['new_INCOME'].value_counts(), temp_eduincomedrinksmoke['new_INCOME'].value_counts().sum())

new_SMOKE
0.0    42436
1.0     8913
2.0     5882
Name: count, dtype: int64 57231
new_DRINK
0.0    32124
1.0    25107
Name: count, dtype: int64 57231
new_EDU
2.0    21653
3.0    17816
1.0    17762
Name: count, dtype: int64 57231
new_INCOME
2.0    31827
3.0    13977
1.0    11427
Name: count, dtype: int64 57231

# temp_basic에 변경된 edu, income, drink, smoke 넣기.

In [193]:
temp_basic

,RID,CT1_SEX,CT1_AGE,CT1_SBP,CT1_BMI,CT1_HB,CT1_ALBUMIN,CT1_TCHL,CT1_eGFR,new_gohyeol,new_dangnyo,new_simhyeol
0,EPI22_027_142944,2,43,119.0,24.06,13.1,4.6,203,110.752209,0,0,0
1,EPI22_027_030739,2,47,110.0,21.45,13.2,4.4,176,90.823548,0,0,0
2,EPI22_027_175154,2,45,108.0,19.55,11.8,4.0,163,79.883404,0,0,0
3,EPI22_027_047976,2,52,124.5,20.85,13.0,4.8,204,87.075094,0,0,0
4,EPI22_027_204760,2,50,109.0,24.41,12.1,4.3,193,111.591565,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
57226,EPI22_027_193555,2,42,147.0,22.26,15.6,4.7,212,102.025210,1,0,0
57227,EPI22_027_031104,1,50,125.0,24.97,15.1,4.8,179,103.538357,0,0,0
57228,EPI22_027_048836,2,41,110.0,20.69,14.6,4.3,175,108.834177,0,0,0
57229,EPI22_027_123427,2,66,126.0,22.93,11.9,5.0,190,90.573649,0,0,0
57230,EPI22_027_022952,2,65,130.0,23.61,13.0,4.3,202,78.919338,0,0,0

In [194]:
temp_basic.columns

Index(['RID', 'CT1_SEX', 'CT1_AGE', 'CT1_SBP', 'CT1_BMI', 'CT1_HB',
       'CT1_ALBUMIN', 'CT1_TCHL', 'CT1_eGFR', 'new_gohyeol', 'new_dangnyo',
       'new_simhyeol'],
      dtype='object')

In [195]:
# (57231, 16)
temp_basic = pd.merge(temp_basic, temp_eduincomedrinksmoke, on='RID', how='inner')
temp_basic = pd.merge(temp_basic, tight3[['RID', 'onset']], on='RID', how='inner')

In [196]:
temp_basic.columns = temp_basic.columns.str.replace('CT1', 'new')

In [197]:
temp_basic.columns

Index(['RID', 'new_SEX', 'new_AGE', 'new_SBP', 'new_BMI', 'new_HB',
       'new_ALBUMIN', 'new_TCHL', 'new_eGFR', 'new_gohyeol', 'new_dangnyo',
       'new_simhyeol', 'new_EDU', 'new_INCOME', 'new_DRINK', 'new_SMOKE',
       'onset'],
      dtype='object')

In [198]:
# reorder the columns
temp_basic = temp_basic[['RID', 'new_SEX', 'new_AGE', 'new_eGFR', 'new_SBP', 'new_BMI', 'new_HB',
       'new_ALBUMIN', 'new_TCHL', 'new_EDU', 'new_INCOME', 'new_DRINK',
       'new_SMOKE', 'new_gohyeol', 'new_dangnyo', 'new_simhyeol',
       'onset']]

In [199]:
# edu, income, drink, smoke 모두 다시 전처리 됨.
# food grouping 은 sweet를 포함한 summation grouping.
temp_basic.columns

Index(['RID', 'new_SEX', 'new_AGE', 'new_eGFR', 'new_SBP', 'new_BMI', 'new_HB',
       'new_ALBUMIN', 'new_TCHL', 'new_EDU', 'new_INCOME', 'new_DRINK',
       'new_SMOKE', 'new_gohyeol', 'new_dangnyo', 'new_simhyeol', 'onset'],
      dtype='object')

In [200]:
missing_check(temp_basic)

RID 0 0 0 0
new_SEX 0 0 0 0
new_AGE 0 0 0 0
new_eGFR 0 0 0 0
new_SBP 0 0 82 0
new_BMI 0 0 18 0
new_HB 0 0 0 0
new_ALBUMIN 0 0 1 0
new_TCHL 0 0 0 0
new_EDU 0 0 0 0
new_INCOME 0 0 0 0
new_DRINK 0 0 0 0
new_SMOKE 0 0 0 0
new_gohyeol 0 0 0 0
new_dangnyo 0 0 0 0
new_simhyeol 0 0 0 0
onset 0 0 0 0

In [201]:
temp_basic.columns

Index(['RID', 'new_SEX', 'new_AGE', 'new_eGFR', 'new_SBP', 'new_BMI', 'new_HB',
       'new_ALBUMIN', 'new_TCHL', 'new_EDU', 'new_INCOME', 'new_DRINK',
       'new_SMOKE', 'new_gohyeol', 'new_dangnyo', 'new_simhyeol', 'onset'],
      dtype='object')

In [202]:
missing_check(temp_basic)

RID 0 0 0 0
new_SEX 0 0 0 0
new_AGE 0 0 0 0
new_eGFR 0 0 0 0
new_SBP 0 0 82 0
new_BMI 0 0 18 0
new_HB 0 0 0 0
new_ALBUMIN 0 0 1 0
new_TCHL 0 0 0 0
new_EDU 0 0 0 0
new_INCOME 0 0 0 0
new_DRINK 0 0 0 0
new_SMOKE 0 0 0 0
new_gohyeol 0 0 0 0
new_dangnyo 0 0 0 0
new_simhyeol 0 0 0 0
onset 0 0 0 0

In [203]:
temp_basic.replace(99999, np.NaN, inplace=True)

In [204]:
temp_basic_check, imputed_col_check = impute(temp_basic)

new_SBP is preprocessing...
new_SBP processing done!!!
==============================
new_BMI is preprocessing...
new_BMI processing done!!!
==============================
new_ALBUMIN is preprocessing...
new_ALBUMIN processing done!!!
==============================

##### 실제 사용하는 데이터랑 뭐가 맞는지 확인하는 거

In [208]:
processed_data = pd.read_csv("/home/user19/pnu_ckd/hexa_preprocessing_after95/0911_dl_models/data/0922_data/0922_basic_only.csv")

In [209]:
processed_data['imp_CT1_BMI'].describe()

count    57231.000000
mean        23.867840
std          2.847613
min         14.440000
25%         21.910000
50%         23.670000
75%         25.580000
max         46.970000
Name: imp_CT1_BMI, dtype: float64

In [213]:
temp_basic_check['new_BMI'].describe()

count    57231.000000
mean        23.867554
std          2.861000
min         14.000000
25%         22.000000
50%         24.000000
75%         26.000000
max         47.000000
Name: new_BMI, dtype: float64

In [210]:
processed_data['Imp_CT1_ALBUMIN'].describe()

count    57231.000000
mean         4.627980
std          0.257886
min          3.000000
25%          4.500000
50%          4.600000
75%          4.800000
max          5.800000
Name: Imp_CT1_ALBUMIN, dtype: float64

In [212]:
temp_basic_check['new_ALBUMIN'].describe()

count    57231.000000
mean         4.614335
std          0.490333
min          3.000000
25%          4.000000
50%          5.000000
75%          5.000000
max          6.000000
Name: new_ALBUMIN, dtype: float64

In [211]:
processed_data['imp_CT1_SBP'].describe()

count    57231.000000
mean       122.065679
std         14.874370
min         68.000000
25%        110.000000
50%        120.000000
75%        131.000000
max        215.000000
Name: imp_CT1_SBP, dtype: float64

In [214]:
temp_basic_check['new_SBP'].describe()

count    57231.000000
mean       122.061418
std         14.873464
min         68.000000
25%        110.000000
50%        120.000000
75%        131.000000
max        215.000000
Name: new_SBP, dtype: float64

In [216]:
processed_data.columns

Index(['RID', 'CT1_SEX', 'CT1_AGE', 'CT1_eGFR', 'imp_CT1_SBP', 'imp_CT1_BMI',
       'CT1_HB', 'Imp_CT1_ALBUMIN', 'CT1_TCHL', 'imp_new_EDU',
       'imp_new_INCOME', 'imp_new_DRINK', 'imp_new_SMOKE', 'new_CT1_gohyeol',
       'CT1_dangnyo', 'CT1_simhyeol', 'onset_tight'],
      dtype='object')

# Food grouping - Sum, Mean

Sum

In [78]:
full_ffq = pd.read_csv("/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_13_ffqweight.csv")
full_ffq = full_ffq[full_ffq['RID'].isin(tight3['RID'])]

In [79]:
group_dict = {
    "Rice" : ["CT1_W001", "CT1_W011", "CT1_W012"],
    "Other grains" : ["CT1_W002", "CT1_W003", "CT1_W004", "CT1_W005", "CT1_W020"],
    "Noodles and dumplings" : ["CT1_W006", "CT1_W007", "CT1_W008", "CT1_W009", "CT1_W010"],
    "Wheat flour and bread" : ["CT1_W013", "CT1_W014", "CT1_W016", "CT1_W017", "CT1_W018", "CT1_W019", "CT1_W021"],
    "Potatoes" : ["CT1_W028", "CT1_W029", "CT1_W030", "CT1_W031"], 
    "Sweets" : ["CT1_W015", "CT1_W022", "CT1_W090"], 
    "Soybean pastes" : ["CT1_W025"], 
    "Bean, tofu, and soymilk" : ["CT1_W024", "CT1_W027", "CT1_W088"], 
    "Nuts" : ["CT1_W023"], 
    "Vegetables" : ["CT1_W037", "CT1_W038", "CT1_W039", "CT1_W040", "CT1_W041", "CT1_W042", "CT1_W043", "CT1_W044", "CT1_W045", "CT1_W046", "CT1_W049", "CT1_W050",
                  "CT1_W051", "CT1_W052", "CT1_W053", "CT1_W054", "CT1_W055", "CT1_W056"], 
    "Kimchi" : ["CT1_W032", "CT1_W033", "CT1_W034", "CT1_W035", "CT1_W036"], 
    "Mushroom" : ["CT1_W047", "CT1_W048"], 
    "Fruits" : ["CT1_W095", "CT1_W096", "CT1_W097", "CT1_W098", "CT1_W099", "CT1_W100", "CT1_W101", "CT1_W102", "CT1_W103", "CT1_W104", "CT1_W105", "CT1_W106"], 
    "Red meat and its products" : ["CT1_W057", "CT1_W058", "CT1_W059", "CT1_W060", "CT1_W061", "CT1_W062", "CT1_W063", "CT1_W065", "CT1_W066"], 
    "White meat and its products" : ["CT1_W064"], 
    "Eggs" : ["CT1_W026"], 
    "Fish and shellfish" : ["CT1_W067", "CT1_W068", "CT1_W069", "CT1_W070", "CT1_W071", "CT1_W072", "CT1_W073", "CT1_W074", "CT1_W075", 
                          "CT1_W076", "CT1_W077", "CT1_W078", "CT1_W079", "CT1_W080", "CT1_W081"], 
    "Seaweeds" : ["CT1_W082", "CT1_W083"], 
    "Milk and dairy products" : ["CT1_W084", "CT1_W085", "CT1_W086", "CT1_W087", "CT1_W091"], 
    "Beverage" : ["CT1_W093", "CT1_W094"], 
    "Coffee and tea" : ["CT1_W089", "CT1_W092"]
}

In [80]:
for group, columns in group_dict.items():
    # df[f'{group}'] = full_ffq[columns].sum(axis=1)
    full_ffq[f'{group}'] = full_ffq[columns].sum(axis=1)          # group sum
    # full_ffq[f'{group}'] = full_ffq[columns].mean(axis=1)           # group mean

In [81]:
temp_food_sum = full_ffq[['RID', 'Rice', 'Other grains',
 'Noodles and dumplings', 'Wheat flour and bread',
 'Potatoes', 'Sweets', 'Soybean pastes', 'Bean, tofu, and soymilk',
 'Nuts', 'Vegetables', 'Kimchi', 'Mushroom', 'Fruits', 'Red meat and its products',
 'White meat and its products', 'Eggs', 'Fish and shellfish', 'Seaweeds',
 'Milk and dairy products', 'Beverage', 'Coffee and tea']]

In [82]:
temp_food_sum

,RID,Rice,Other grains,Noodles and dumplings,Wheat flour and bread,Potatoes,Sweets,Soybean pastes,"Bean, tofu, and soymilk",Nuts,...,Mushroom,Fruits,Red meat and its products,White meat and its products,Eggs,Fish and shellfish,Seaweeds,Milk and dairy products,Beverage,Coffee and tea
1,EPI22_027_142944,7.333333,663.333333,38.666667,1.333333,37.500000,1.538095,1.928571,12.857143,0.000000,...,12.857143,852.500000,12.500000,2.500000,10.714286,73.142857,7.000000,208.285714,32.142857,0.578571
13,EPI22_027_030739,2.333333,661.333333,25.833333,22.952381,23.690476,7.666667,0.750000,12.857143,0.000000,...,5.000000,426.250000,26.666667,6.250000,10.714286,62.571429,1.500000,326.000000,12.500000,4.050000
17,EPI22_027_175154,27.500000,660.000000,90.000000,53.571429,8.571429,3.750000,0.750000,30.000000,3.214286,...,6.428571,41.964286,67.559524,0.000000,10.714286,61.869048,3.500000,73.000000,225.000000,184.050000
18,EPI22_027_047976,5.833333,440.000000,136.166667,29.666667,31.916667,5.333333,4.500000,13.857143,1.250000,...,12.857143,173.541667,28.333333,6.250000,10.714286,63.595238,0.583333,204.666667,0.000000,4.050000
20,EPI22_027_204760,337.500000,0.000000,1.833333,15.976190,83.571429,7.500000,27.000000,68.857143,7.500000,...,11.142857,132.500000,23.333333,9.375000,10.714286,49.285714,0.500000,6.000000,48.809524,4.050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173182,EPI22_027_193555,5.833333,445.721429,129.166667,77.226190,12.916667,9.208333,4.500000,19.714286,0.625000,...,1.750000,295.000000,82.619048,16.071429,5.357143,29.238095,0.750000,74.928571,29.166667,14.050000
173184,EPI22_027_031104,0.000000,660.000000,160.666667,19.333333,0.000000,15.633333,4.500000,31.000000,0.500000,...,2.500000,426.250000,25.500000,0.000000,10.714286,21.023810,0.845238,137.714286,75.000000,8.100000
173189,EPI22_027_048836,442.333333,0.000000,10.000000,69.095238,6.500000,11.895238,1.928571,55.714286,0.000000,...,12.857143,213.125000,108.452381,6.250000,10.714286,36.535714,2.666667,196.000000,6.666667,4.050000
173190,EPI22_027_123427,7.500000,660.000000,70.000000,4.166667,23.404762,15.416667,2.250000,15.857143,0.000000,...,21.428571,134.047619,8.750000,3.125000,5.357143,21.994048,2.750000,68.571429,0.000000,16.200000
173191,EPI22_027_022952,2.333333,440.000000,0.000000,0.000000,5.833333,0.000000,4.500000,13.857143,0.000000,...,0.000000,49.208333,40.000000,8.035714,1.666667,14.309524,0.483333,0.000000,0.000000,0.000000

Mean

In [83]:
full_ffq = pd.read_csv("/home/user19/pnu_ckd/HEXA/HEXA_1/ct1_13_ffqweight.csv")
full_ffq = full_ffq[full_ffq['RID'].isin(tight3['RID'])]

In [84]:
for group, columns in group_dict.items():
    # df[f'{group}'] = full_ffq[columns].sum(axis=1)
    # full_ffq[f'{group}'] = full_ffq[columns].sum(axis=1)          # group sum
    full_ffq[f'{group}'] = full_ffq[columns].mean(axis=1)           # group mean

In [85]:
full_ffq.columns

Index(['RID', 'CT1_W001', 'CT1_W002', 'CT1_W003', 'CT1_W004', 'CT1_W005',
       'CT1_W006', 'CT1_W007', 'CT1_W008', 'CT1_W009',
       ...
       'Mushroom', 'Fruits', 'Red meat and its products',
       'White meat and its products', 'Eggs', 'Fish and shellfish', 'Seaweeds',
       'Milk and dairy products', 'Beverage', 'Coffee and tea'],
      dtype='object', length=128)

In [86]:
temp_food_mean = full_ffq[['RID', 'Rice', 'Other grains',
 'Noodles and dumplings', 'Wheat flour and bread',
 'Potatoes', 'Sweets', 'Soybean pastes', 'Bean, tofu, and soymilk',
 'Nuts', 'Vegetables', 'Kimchi', 'Mushroom', 'Fruits', 'Red meat and its products',
 'White meat and its products', 'Eggs', 'Fish and shellfish', 'Seaweeds',
 'Milk and dairy products', 'Beverage', 'Coffee and tea']]

In [87]:
temp_food_mean

,RID,Rice,Other grains,Noodles and dumplings,Wheat flour and bread,Potatoes,Sweets,Soybean pastes,"Bean, tofu, and soymilk",Nuts,...,Mushroom,Fruits,Red meat and its products,White meat and its products,Eggs,Fish and shellfish,Seaweeds,Milk and dairy products,Beverage,Coffee and tea
1,EPI22_027_142944,3.666667,331.666667,7.733333,0.190476,9.375000,0.512698,1.928571,4.285714,0.000000,...,6.428571,71.041667,1.388889,2.500000,10.714286,4.876190,3.500000,41.657143,16.071429,0.289286
13,EPI22_027_030739,1.166667,330.666667,5.166667,3.278912,5.922619,2.555556,0.750000,4.285714,0.000000,...,2.500000,35.520833,2.962963,6.250000,10.714286,4.171429,0.750000,65.200000,6.250000,2.025000
17,EPI22_027_175154,13.750000,330.000000,18.000000,7.653061,2.142857,1.250000,0.750000,10.000000,3.214286,...,3.214286,3.497024,7.506614,0.000000,10.714286,4.124603,1.750000,14.600000,112.500000,92.025000
18,EPI22_027_047976,2.916667,220.000000,27.233333,4.238095,7.979167,1.777778,4.500000,4.619048,1.250000,...,6.428571,14.461806,3.148148,6.250000,10.714286,4.239683,0.291667,40.933333,0.000000,2.025000
20,EPI22_027_204760,112.500000,0.000000,0.366667,2.282313,20.892857,2.500000,27.000000,22.952381,7.500000,...,5.571429,11.041667,2.592593,9.375000,10.714286,3.285714,0.250000,1.200000,24.404762,2.025000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173182,EPI22_027_193555,2.916667,222.860714,25.833333,11.032313,3.229167,3.069444,4.500000,6.571429,0.625000,...,0.875000,24.583333,9.179894,16.071429,5.357143,1.949206,0.375000,14.985714,14.583333,7.025000
173184,EPI22_027_031104,0.000000,330.000000,32.133333,2.761905,0.000000,5.211111,4.500000,10.333333,0.500000,...,1.250000,35.520833,2.833333,0.000000,10.714286,1.401587,0.422619,27.542857,37.500000,4.050000
173189,EPI22_027_048836,147.444444,0.000000,2.000000,9.870748,1.625000,3.965079,1.928571,18.571429,0.000000,...,6.428571,17.760417,12.050265,6.250000,10.714286,2.435714,1.333333,39.200000,3.333333,2.025000
173190,EPI22_027_123427,3.750000,330.000000,14.000000,0.595238,5.851190,5.138889,2.250000,5.285714,0.000000,...,10.714286,11.170635,0.972222,3.125000,5.357143,1.466270,1.375000,13.714286,0.000000,8.100000
173191,EPI22_027_022952,1.166667,220.000000,0.000000,0.000000,1.458333,0.000000,4.500000,4.619048,0.000000,...,0.000000,4.100694,4.444444,8.035714,1.666667,0.953968,0.241667,0.000000,0.000000,0.000000

# 최종 데이터 만들기

- basic + ffqsum
- basic + ffqmean

In [88]:
temp_basic['onset'].value_counts()

onset
0    56706
1      525
Name: count, dtype: int64

In [89]:
basic_ffqsum = pd.merge(temp_basic, temp_food_sum, on='RID', how='inner')
basic_ffqmean = pd.merge(temp_basic, temp_food_mean, on='RID', how='inner')

In [90]:
basic_ffqsum.shape

(57231, 38)

In [91]:
basic_ffqmean.shape

(57231, 38)

# Onset, Onset tight 지정, duration 추가

In [93]:
temp = pd.read_csv("/home/user19/pnu_ckd/hexa_preprocessing_after95/data/shared_data/0904_tight.csv")

In [94]:
basic_ffqsum.drop(['onset'], axis=1, inplace=True)
basic_ffqmean.drop(['onset'], axis=1, inplace=True)

In [96]:
basic_ffqsum = pd.merge(basic_ffqsum, temp[['RID', 'onset', 'onset_tight', 'duration']], on='RID', how='inner')
basic_ffqmean = pd.merge(basic_ffqmean, temp[['RID', 'onset', 'onset_tight', 'duration']], on='RID', how='inner')

In [97]:
basic_ffqsum

,RID,new_SEX,new_AGE,new_eGFR,new_SBP,new_BMI,new_HB,new_ALBUMIN,new_TCHL,new_EDU,...,White meat and its products,Eggs,Fish and shellfish,Seaweeds,Milk and dairy products,Beverage,Coffee and tea,onset,onset_tight,duration
0,EPI22_027_142944,2,43,110.752209,119.0,24.06,13.1,4.6,203,1.0,...,2.500,10.714286,73.142857,7.000000,208.285714,32.142857,0.578571,0.0,0.0,24.0
1,EPI22_027_030739,2,47,90.823548,110.0,21.45,13.2,4.4,176,2.0,...,6.250,10.714286,62.571429,1.500000,326.000000,12.500000,4.050000,0.0,0.0,47.0
2,EPI22_027_175154,2,45,79.883404,108.0,19.55,11.8,4.0,163,3.0,...,0.000,10.714286,61.869048,3.500000,73.000000,225.000000,184.050000,0.0,0.0,45.0
3,EPI22_027_047976,2,52,87.075094,124.5,20.85,13.0,4.8,204,2.0,...,6.250,10.714286,63.595238,0.583333,204.666667,0.000000,4.050000,0.0,0.0,56.0
4,EPI22_027_204760,2,50,111.591565,109.0,24.41,12.1,4.3,193,1.0,...,9.375,10.714286,49.285714,0.500000,6.000000,48.809524,4.050000,0.0,0.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31701,EPI22_027_135315,1,52,89.750967,130.0,23.70,15.3,4.7,224,2.0,...,6.250,25.000000,10.142857,3.416667,22.666667,0.000000,8.100000,0.0,0.0,43.0
31702,EPI22_027_152742,2,51,100.148930,118.0,21.31,14.5,4.8,209,2.0,...,1.250,10.714286,11.630952,1.714286,125.142857,117.857143,26.292857,0.0,0.0,45.0
31703,EPI22_027_072439,2,59,93.777463,107.0,24.93,14.0,4.5,214,2.0,...,2.500,10.714286,22.797619,3.071429,12.000000,12.500000,33.814286,0.0,0.0,47.0
31704,EPI22_027_112138,2,52,98.539620,120.0,21.86,12.7,4.9,206,3.0,...,3.125,25.000000,114.500000,3.500000,137.380952,32.142857,33.814286,0.0,0.0,69.0
31705,EPI22_027_186974,1,58,67.585300,137.5,23.08,14.8,4.9,204,3.0,...,0.000,10.714286,26.500000,1.714286,98.904762,91.666667,10.116667,NaN,NaN,NaN

In [98]:
basic_ffqsum = basic_ffqsum[['RID', 'new_SEX', 'new_AGE', 'new_eGFR', 'new_SBP', 'new_BMI', 'new_HB',
       'new_ALBUMIN', 'new_TCHL', 'new_EDU', 'new_INCOME', 'new_DRINK',
       'new_SMOKE', 'new_gohyeol', 'new_dangnyo', 'new_simhyeol', 'onset', 'onset_tight', 'duration', 'Rice',
       'Other grains', 'Noodles and dumplings', 'Wheat flour and bread',
       'Potatoes', 'Sweets', 'Soybean pastes', 'Bean, tofu, and soymilk',
       'Nuts', 'Vegetables', 'Kimchi', 'Mushroom', 'Fruits',
       'Red meat and its products', 'White meat and its products', 'Eggs',
       'Fish and shellfish', 'Seaweeds', 'Milk and dairy products', 'Beverage',
       'Coffee and tea']]

basic_ffqmean = basic_ffqmean[['RID', 'new_SEX', 'new_AGE', 'new_eGFR', 'new_SBP', 'new_BMI', 'new_HB',
       'new_ALBUMIN', 'new_TCHL', 'new_EDU', 'new_INCOME', 'new_DRINK',
       'new_SMOKE', 'new_gohyeol', 'new_dangnyo', 'new_simhyeol', 'onset', 'onset_tight', 'duration', 'Rice',
       'Other grains', 'Noodles and dumplings', 'Wheat flour and bread',
       'Potatoes', 'Sweets', 'Soybean pastes', 'Bean, tofu, and soymilk',
       'Nuts', 'Vegetables', 'Kimchi', 'Mushroom', 'Fruits',
       'Red meat and its products', 'White meat and its products', 'Eggs',
       'Fish and shellfish', 'Seaweeds', 'Milk and dairy products', 'Beverage',
       'Coffee and tea']]

In [99]:
basic_ffqsum = basic_ffqsum.rename(columns={'new_SEX': 'CT1_SEX', 'new_AGE': 'CT1_AGE', 'new_eGFR': 'CT1_eGFR', 'new_SBP': 'CT1_SBP', 'new_BMI': 'CT1_BMI'
                        , 'new_HB': 'CT1_HB', 'new_ALBUMIN': 'CT1_ALBUMIN', 'new_TCHL': 'CT1_TCHL'
                        , 'new_gohyeol': 'CT1_gohyeol', 'new_dangnyo': 'CT1_dangnyo', 'new_simhyeol': 'CT1_simhyeol'})
basic_ffqmean = basic_ffqmean.rename(columns={'new_SEX': 'CT1_SEX', 'new_AGE': 'CT1_AGE', 'new_eGFR': 'CT1_eGFR', 'new_SBP': 'CT1_SBP', 'new_BMI': 'CT1_BMI'
                        , 'new_HB': 'CT1_HB', 'new_ALBUMIN': 'CT1_ALBUMIN', 'new_TCHL': 'CT1_TCHL'
                        , 'new_gohyeol': 'CT1_gohyeol', 'new_dangnyo': 'CT1_dangnyo', 'new_simhyeol': 'CT1_simhyeol'})

In [100]:
basic_ffqmean.columns

Index(['RID', 'CT1_SEX', 'CT1_AGE', 'CT1_eGFR', 'CT1_SBP', 'CT1_BMI', 'CT1_HB',
       'CT1_ALBUMIN', 'CT1_TCHL', 'new_EDU', 'new_INCOME', 'new_DRINK',
       'new_SMOKE', 'CT1_gohyeol', 'CT1_dangnyo', 'CT1_simhyeol', 'onset',
       'onset_tight', 'duration', 'Rice', 'Other grains',
       'Noodles and dumplings', 'Wheat flour and bread', 'Potatoes', 'Sweets',
       'Soybean pastes', 'Bean, tofu, and soymilk', 'Nuts', 'Vegetables',
       'Kimchi', 'Mushroom', 'Fruits', 'Red meat and its products',
       'White meat and its products', 'Eggs', 'Fish and shellfish', 'Seaweeds',
       'Milk and dairy products', 'Beverage', 'Coffee and tea'],
      dtype='object')

# To excel

In [ ]:
# basic_ffqsum.to_excel("/home/user19/pnu_ckd/hexa_preprocessing_after95/data/shared_data/0911_ffqsum.xlsx", index=False)
# basic_ffqmean.to_excel("/home/user19/pnu_ckd/hexa_preprocessing_after95/data/shared_data/0911_ffqmean.xlsx", index=False)

In [101]:
a = pd.read_excel("/home/user19/pnu_ckd/hexa_preprocessing_after95/data/shared_data/0911_ffqsum.xlsx")
b = pd.read_csv("/home/user19/pnu_ckd/hexa_preprocessing_after95/dl_models/data/tight.csv")

In [ ]:
a[['RID', 'new_SMOKE']]

In [ ]:
b[['RID', 'CT1_SMOKE']]

In [ ]:
(a['new_SMOKE'] == b['CT1_SMOKE']).sum()

In [ ]:
b['CT1_SMOKE'].value_counts()

In [ ]:
a['new_SMOKE'].value_counts()